@import '~@playkit-js/playkit-js-ui';

.audio-seekbar {
  --seekbar-default-color-rgb: 255, 255, 255;

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10px;
  width: 100%;
  margin: 6px 0;
  .current-time,
  .duration {
    flex-shrink: 0;
    color: $tone-1-color;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .seekbar-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 8px;
    padding: 3px 0;
    flex-grow: 1;
    > :global(.playkit-seek-bar) {
      width: 100%;
      padding: 0;

      :global(.playkit-progress-bar) {
        // TODO replace with tone 1
        background-color: rgba(var(--playkit-player-background-color-rgb, var(--seekbar-default-color-rgb)), 0.3); 
      }
    }
  }
}