@import '~@playkit-js/playkit-js-ui';

.audio-player-details {
  width: 100%;
  &.small {
    .header {
      .audio-icon-container {
        margin: 13px 16px 0 0;
      }
      .title {
        &.playback-started {
          width: calc(100% - 16px);
        }
        width: 100%;
        margin-bottom: 4px;
      }
    }
  }

  &.medium {
    .header {
      .audio-icon-container {
        margin: 13px 16px 0 0;
      }
      .title {
        &.playback-started {
          width: calc(100% - 16px);
        }
        width: 100%;
        margin-bottom: 4px;
      }
    }
  }

  &.large {
    .header {
      flex-direction: column;
      .title {
        font-size: 32px;
        line-height: 38px;
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }
    .description {
      margin-bottom: 8px;
    }
  }

  .header {
    display: flex;

    .audio-icon-container {
      margin: 16px 8px 0 0;
      position: relative;
    }
  }

  .title {
    width: 100%;
    color: $tone-1-color;
    font-size: 14px;
    font-weight: bold;
  }

  .description {
    width: 100%;
    color: $tone-1-color;
    opacity: 0.8;
  }
}
