@import '~@playkit-js/playkit-js-ui';

.playback-controls-wrapper {
  display: flex;
  flex-direction: row;
  height: 36px;
  width: 100%;

  button {
    i,
    svg {
      filter: invert(1) var(--playkit-audio-player-controls-filter);
    }
  }

  :global(#speedActive) {
    color: $tone-1-color;
  }

  :global(.playkit-select-menu-item) {
    color: $tone-1-color;
  }

  :global(.playkit-dropdown-menu .playkit-dropdown-menu-item) {
    color: $tone-1-color;
  }

  :global(.playkit-dropdown-menu .playkit-dropdown-menu:hover) {
    color: $tone-1-color;
  }

  :global(.playkit-dropdown-menu .playkit-dropdown-menu:focus) {
    color: $tone-1-color;
  }

  :global(.playkit-live-tag) {
    margin-left: 0;
    margin-right: 8px;
  }
  .playback-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 212px;
    height: 100%;
    margin: 0 auto;
    .buttonContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      flex: 0 0 36px;
      &:not(:last-of-type) {
        margin-right: 8px;
      }
      &:empty {
        display: none;
      }
    }
    .speed-menu-wrapper {
      display: flex;
      height: 32px;
      width: 32px;
      margin-right: 8px;
      :global(.playkit-smart-container-item) {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0;
        label {
          display: none;
        }
        :global(.playkit-dropdown) {
          width: 100%;
          height: 100%;
          font-weight: 700;
          :global(.playkit-dropdown-button) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 0;
            :global(.playkit-icon) {
              display: none;
            }
            :global(.playkit-dropdown-menu) {
              right: auto;
              left: 0;
              top: -32px;
              display: flex;
              flex-direction: row;
              margin: 0;
              padding: 4px;
              :global(.playkit-dropdown-menu-item) {
                min-height: 24px;
                padding: 4px 8px;
                margin: 0px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                &:not(:last-child) {
                  margin-right: 4px;
                }
              }
            }
          }
        }
        :global(select.playkit-dropdown) {
          padding: 0;
          background-image: none;
          text-align-last: center;
        }
      }
    }
    :global(.playkit-control-button-container) {
      display: inline-block;
    }
    :global(.playkit-volume-control-bar) {
      bottom: -7px;
      left: -40px;
      width: 32px;
      transform: rotate(90deg);
    }
  }
}
