.loop-button-wrapper {
  margin-right: 12px;
  .loop-button {
    &.inactive {
      background-color: transparent;
    }
    svg {
      transform: scale(1.5);
    }
    &:hover {
      svg g {
        opacity: 1;
      }
    }
  }
}
