.audio-player-view {
    &.medium {
        height: 280px;
        
        .top-controls {
            gap: 16px;
            padding: 16px;        
        }
    }

    &.small {
        height: 132px;

        .top-controls {
            gap: 8px;
            padding: 8px;
        }
    }

    &.extra-small {
        height: 132px;
        display: flex;
        flex-direction: column;
        
        .top-controls {
            gap: 8px;
            height: calc(100% - 58px);
            padding: 8px;
    
            .left-controls {
                height: 100%;
                aspect-ratio: 1 / 1;
                background-color: black;
        
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        
            .right-controls {
                width: 100%;
            }
        }

        .bottom-controls {
            padding: 0 8px;
        }
    }

    background-color: #222;
    margin: 0;

    .top-controls {
        display: flex;
        gap: 8px;
        padding: 8px;

        .left-controls {
            height: 100%;
            aspect-ratio: 1 / 1;
            background-color: black;
    
            img {
                width: 100%;
                height: 100%;
            }
        }
    
        .right-controls {
            width: 100%;
        }
    }
}
