.audio-player-view {
  &.extra-small {
    height: 132px;
    display: flex;
    flex-direction: column;

    .top-controls {
      display: flex;
      justify-content: space-between;
      height: calc(100% - 58px);
      padding: 8px;

      .right-controls {
        display: flex;
        align-items: center;
        width: calc(100% - 64px);

        .header {
          .audio-icon-container {
            margin: 13px 12px 0 0;
          }
        }
      }
    }

    .bottom-controls {
      padding: 0 8px;
    }
  }

  &.small {
    display: flex;
    justify-content: space-between;
    height: 132px;
    padding: 8px;

    .right-controls {
      width: calc(100% - 124px);

      .top-controls {
        display: flex;
        padding: 8px;

        .header {
          .audio-icon-container {
            margin: 13px 12px 0 0;
          }
        }
      }
    }
  }

  &.medium {
    display: flex;
    height: 280px;
    gap: 16px;
    padding: 16px;

    .left-controls {
      height: 248px;
    }

    .right-controls {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .header {
        flex-direction: column;

        .audio-icon-container {
          margin: 12px 0 8px 0;
        }
      }

      .title {
        -webkit-line-clamp: 3;
        font-size: 32px;
        margin-bottom: 16px;
      }

      .description {
        margin-bottom: 8px;
      }
    }
  }

  background-color: #222;
  margin: 0;

  .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
  }

  .left-controls {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    flex-shrink: 0;
    overflow: hidden;
  }

  .audio-player-details {
    width: 100%;
    .header {
      display: flex;

      .audio-icon-container {
        margin: 16px 8px 0 0;
        position: relative;
      }
    }

    .title {
      width: 100%;
      color: #fff; // tone 1
      font-size: 14px;
      font-weight: bold;
    }

    .description {
      width: 100%;
      color: rgba(255, 255, 255, 0.8); // tone 1 opa
    }
  }
}
:global(.audio-player .playkit-video-player) {
  visibility: hidden;
}
