@import '~@playkit-js/playkit-js-ui';

.audio-icon {
    align-items: end;
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 2px;

    &.large {
        .box1, .box2, .box3 {
            height: 3px;
            width: 3px;
            border-radius: 1.5px;
            margin-right: 1.5px;
            margin-left: 1.5px;
        }
    }

    &.active {
        .box1 {
            animation-name: wave1;
        }

        .box2 {
            animation-name: wave2;
        }

        .box3 {
            animation-name: wave3;
        }
    }

    .box {
        background: $tone-1-color;
        height: 2px;
        width: 2px;
        border-radius: 1px;
        margin: 0 1px 0 1px;
        animation-duration: 2.4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        animation-direction: alternate-reverse;
    }

    .box1, .box2, .box3 {
        @extend .box;
    }

    @keyframes wave1 {
        0% {height: 100%;}
        10% {height: 400%;}
        20% {height: 100%;}
        30% {height: 100%;}
        40% {height: 400%;}
        50% {height: 300%;}
        60% {height: 600%;}
        70% {height: 400%;}
        80% {height: 600%;}
        90% {height: 100%;}
      }

      @keyframes wave2 {
         0% {height: 100%;}
        10% {height: 300%;}
        20% {height: 400%;}
        30% {height: 100%;}
        40% {height: 500%;}
        50% {height: 200%;}
        60% {height: 400%;}
        70% {height: 600%;}
        80% {height: 400%;}
        90% {height: 200%;}
      }

      @keyframes wave3 {
        0% {height: 100%;}
        10% {height: 200%;}
        20% {height: 600%;}
        30% {height: 100%;}
        40% {height: 100%;}
        50% {height: 400%;}
        60% {height: 600%;}
        70% {height: 200%;}
        80% {height: 500%;}
        90% {height: 300%;}
      }
}